.course-image {
  max-width: 300px;
  border-radius: 4px;
}

.about {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about p {
  font-size: 1.2rem;
  margin: 1rem 28rem;
}

@media (max-width: 1240px) {
  .about p {
    font-size: 1.2rem;
    margin: 1rem 18rem;
  }
}

@media (max-width: 980px) {
  .about p {
    font-size: 1.2rem;
    margin: 1rem 6rem;
  }
}

@media (max-width: 520px) {
  .about p {
    font-size: 1.2rem;
    margin: 1rem 2rem;
  }
}
