<div class="about">
  <h2>My RxJs App</h2>

  <img
    class="course-image mat-elevation-z10"
    src="https://angular-university.s3-us-west-1.amazonaws.com/course-images/reactive-angular-course.jpg"
  />

  <p>
    This is a reactive application in Angular that has been developed with the
    porpose to learn about reactive applications and handling of observables
    with RxJS. We made use of RxJS observables to handle asynchronous data
    streams, and implementing the search and filtering logic of a list of
    courses.
  </p>
</div>
